//===========================================

//Header

@media(min-width:1400px){
    .header_conatiner {
        max-width: 1165px ;
        margin: auto;
    }
    
    .nav_links_wrapper,.login_wrapper{
        align-items: center;
        display: flex;
        gap: 20px;
    }
    header{
        min-height: 799px;


    }
    .race_info_container{
        width: 100%;
        margin: auto;

    }
    .menu_mobile{
        display: none;
    }
}

@media(min-width:1200px) and (max-width:1399.98px){
    .header_conatiner {
        max-width: 1165px ;
        margin: auto;
    }
    .nav_links_wrapper,.login_wrapper{
        align-items: center;
        display: flex;
        gap: 20px;
    }
    header{
        min-height: 799px;

    }
    .race_info_container{
        width: 100%;
        margin: auto;
        .dropdown_punkts{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    .menu_mobile{
        display: none;
    }
.airplane_review_wrapper{
    margin-top: 10% !important;
}
.airplane_review_block{
        .airplane{
            margin-left: 5% !important;
        }
    .airplane_review_info{
        padding-right: 38px;
    }
}
.airplane_review_block2{
    margin-top: 10% !important;
    .airplane{
        margin-right: 5% !important;
    }
    .airplane_review_info{
        padding-left: 38px;
    }
}

.price_container{
    padding: 0 5%;
    .price_block{
        width: auto;
    }

}


}



@media(min-width:992px) and (max-width:1199.98px){
    .dropdown_punkts{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_conatiner {
        max-width: 950px ;
        margin: auto;
    }

    .menu_wrapper{
        padding-top: 10%;
    }

    .airplane_review_wrapper{
        margin-top: 10% !important;
    }
    .airplane_review_block{
            .airplane{
                margin-left: 5% !important;
                width: 500px;
            }
        .airplane_review_info{
            padding-right: 38px;
        }
    }
    .airplane_review_block2{
        margin-top: 10% !important;
        .airplane{
            margin-right: 5% !important;
            width: 500px;
        }
        .airplane_review_info{
            padding-left: 38px;
        }
    }

    .benefits_wrapper{
        padding: 0 2%;
        .benefits_container{
            flex-wrap: wrap;
        }
        .plane_img{
            margin: auto;
        }
        .benefits_blok_wrapper1{
            width: 70%;
            margin: auto;
        }
    }
    .airplane_models_container{
        padding: 0 5%;
        flex-wrap: wrap;
        .airplane_models_item4{
            margin-top: 0;
        }
    }
    .price_container{
        padding: 0 5%;
        .price_block{
            width: 45%;

        }
        .price_block3{
            margin: 5% auto 0;
        }
    }


        .footer_info_container{
            padding: 50px 30px 15px ;
        }

}

@media(min-width:768px) and (max-width:991.98px){
    .dropdown_punkts{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_conatiner {
        max-width: 90%;
        margin: auto;
    }

    .menu_wrapper{
        padding-top: 15%;
    }
.h2_with_circle_bacrkgound{
    font-size: 30px !important;
}
.airplane_review_wrapper{
    margin-top: 15% !important;
}
    .airplane_review_block{
            .airplane{
                margin-left: 5% !important;
                width: 295px;
            }
        .airplane_review_info{
            padding-right: 38px;
        }
    }
    .airplane_review_block2{
        margin-top: 10% !important;
        .airplane{
            margin-right: 5% !important;
            width: 295px;

        }
        .airplane_review_info{
            padding-left: 0 !important;
        }
    }
    .benefits_wrapper{
        padding: 0 2%;
        .benefits_container{
            flex-wrap: wrap;
        }
        .plane_img{
            margin: auto;
        }
        .benefits_blok_wrapper1{
            width: 70%;
            margin: auto;
        }
    }
    .airplane_models_container{
        padding: 0px 10%;
        flex-wrap: wrap;
        
        .airplane_models_item4,.airplane_models_item3{
            margin-top: 0;
        }
    }
    .price_container{
        padding: 0 5%;
        .price_block{
            width: 45%;

        }
        .price_block3{
            margin: 5% auto 0;
        }
    }
    .footer_info_container{
        padding: 50px 45px 15px ;
    }
    .big_img_airplane{
        width: 85% !important;
    }
    .element-animation{
        opacity: 1 !important;
    }
}

@media(min-width:576px) and (max-width:767.98px){
        .dropdown_punkts{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_conatiner {
        max-width: 90%;
        margin: auto;
    }
    .menu_wrapper{
        padding-top: 15%;
    }
    .from_and_to{
        flex-direction: column;
    width: 100%;
    }
    .from_to_width{
        width: 419px !important;
    }
    .book_flights{
        margin: -20px auto !important;
    }
    .h2_with_circle_bacrkgound{
        font-size: 22px !important;
    }
    .airplane_review_wrapper{
        margin-top: 20% !important;
    }
        .airplane_review_block{
            flex-wrap: wrap;
                .airplane{
    margin: 0 auto 10% !important;
                    width: 85%;
                }
            .airplane_review_info{
                max-width: 100%;
                padding-right: 38px;
            }
        }
        .airplane_review_block2{
            flex-wrap: wrap;
            margin-top: 10% !important;
            .airplane{
    margin: 0 auto 10% !important;
                width: 85%;
    
            }
            .airplane_review_info{
                max-width: 100%;
                padding-left: 0 !important;
            }
        }
        .benefits_wrapper{
            padding: 0 2%;
            .benefits_container{
                flex-wrap: wrap;
            }
            .plane_img{
                margin: auto;
            }
            .benefits_blok_wrapper1{
                width: 70%;
                margin: auto;
            }
        }
        .airplane_models_container{
            padding: 0px 20%;
            flex-wrap: wrap;
            .airplane_models_item{
                margin-bottom: 30px;
            }
            .airplane_models_item4,.airplane_models_item3,.airplane_models_item2,.airplane_models_item1{
                margin-top: 0;
            }
        }
        .price_container{
            padding: 0 5%;
            .price_block{
                width: 75%;
                margin: 0 auto;
    
            }
            .price_block2{
                margin: 5% auto;
            }
            .price_block3{
                margin: 0 auto;
            }
        }
        .footer_info_container{
            padding: 50px 45px 15px ;
        }
        .big_img_airplane{
            width: 85% !important;
        }
        .link_footer{
            font-size: 12px !important;
        }
        .footer_jc_beetween{
            flex-wrap: wrap;
            gap: 20px;
            .footer_jc_beetween_block{
                width: auto;
                justify-content: center;

            }
        }

        .element-animation{
            opacity: 1 !important;
        }
}

@media(min-width:320px) and (max-width:575.98px){
        .dropdown_punkts{
        flex-wrap: wrap;
        justify-content: center;
    }
    .header_conatiner {
        max-width: 90%;
        margin: auto;
    }
    .menu_wrapper{
        padding-top: 20%;
    }
        .d-flex .login_wrapper {
            overflow: hidden;
            margin-top: 20%;
            flex-direction: column !important;
            .nav_item{
                width: 100% !important;
                margin: 0 auto 5% !important;
            }
        }
        .from_and_to{
            flex-direction: column;
        width: 100%;
        }
        .from_to_width{
            width: 100% !important;
        }
        .book_flights{
            margin: 20px auto !important;
        }
        .date{
            //flex-direction: column !important;
            width: 100%;
            flex-wrap: wrap;
        }
        .dropdown_list{
            flex-wrap: wrap;
        }
        .reserved_title{
            font-size: 40px !important;
    line-height: 56px !important;
        }
        .h2_with_circle_bacrkgound{
            font-size: 22px !important;
            background: none !important;
            line-height: 30px !important;
        }
            .airplane_review_wrapper{
                margin-top: 38rem !important;
            }
            .airplane_review_block{
                flex-wrap: wrap;
                    .airplane{
        margin: 0 auto 10% !important;
                        width: 85%;
                    }
                .airplane_review_info{
                    max-width: 100%;
                    padding-right: 38px;
                }
            }
            .airplane_review_title{
                margin-bottom: 3% !important;
                font-size: 23px !important  ;
            }
            .airplane_review_block2{
                flex-wrap: wrap;
                margin-top: 20% !important;
                .airplane{
        margin: 0 auto 10% !important;
                    width: 85%;
        
                }
                .airplane_review_info{
                    max-width: 100%;
                    padding-left: 0 !important;
                }
            }
            .airplane_review_wrapper{
                margin-top: 20% !important;
            }
            .benefits_wrapper{
                .h2_with_circle_bacrkgound{
                    padding: 0 20px;
                }
                padding: 0 2%;
                .benefits_container{
                    flex-wrap: wrap;
                }
                .plane_img{
                    margin: auto;
                }
                .benefits_blok_wrapper1{
                    width: 95%;
                    margin: auto;
                }
            }
            .airplane_models_container{
                padding: 0px 20%;
                flex-wrap: wrap;
                .airplane_models_item{
                    margin-bottom: 30px;
                }
                .airplane_models_item4,.airplane_models_item3,.airplane_models_item2,.airplane_models_item1{
                    margin-top: 0;
                }
            }

            .menu_mobile{
                display: none;
                position: relative;
                .burger{
                    position: absolute;
                    right: 6% !important;
                    top: 0.6% !important;
                }
            }
            .price_wrapper{
                margin-top: 15%;
            }
            .price_container{
                padding: 0 5%;
                .price_block{
                    width: 100%;
                    margin: 0 auto;
        
                }
                .price_block2{
                    margin: 10% auto;
                }
                .price_block3{
                    margin: 0 auto;
                }
            }
            .footer_info_container{
                padding: 50px 25px 15px ;
            }
            .link_footer{
                font-size: 12px !important;
            }
            .footer_jc_beetween{
                flex-wrap: wrap;
                gap: 20px;
                .footer_jc_beetween_block{
                    width: 100%;
                    justify-content: center;

                }
            }
            .big_img_airplane{
                width: 85% !important;
            }
            .element-animation{
                opacity: 1 !important;
            }
    }


@media(max-width:389px) and (max-width:524.98px){
    .airplane_review_wrapper{

        .h2_with_circle_bacrkgound{
            font-size: 22px !important;
            padding: 0 20px;

        }
    }
}

@media(max-width:388.98px){
    .airplane_review_wrapper{

        .h2_with_circle_bacrkgound{
            font-size: 22px !important;
            padding: 0 20px;

        }
    }
}
/*
@media(min-width:768px){
    .race_info_container2{
        display: none !important;
    }

}

@media(max-width:767.98px){
    .race_info_container{
        display: none !important;
    }
    header{
        height: 71vh !important;
    }
    .race_info_container2{
        display: block !important;
        z-index: 999999 !important;
    }
}
*/
//============================================

















// Adaptate for Apple Devices

// Iphone 5/SE

@media(width:320px)and (height:568px){

    .menu_mobile{
        .nav_item{
            font-size: 23px !important;
            line-height: 50px !important;
        }
    }

    header{
        .menu_open{
            height: 40px;
            margin-bottom: -6%;
            .span_burger2{
                margin-top: 8%;
                margin-bottom: 8%;
            }
        }
    }
    .race_info_container{
        margin: 35px auto 0 !important;
    }


    .dropdown_list{
        flex-wrap: wrap;
        .dropdown_item{
            width: 50%;
            .dropdown_item_title{
                margin-right: 6%;
            }
        }
    }

    .change_icon {

        margin-bottom: 5%;
    }

    .date,.change_icon{
        margin-top: 5%;
    }
.benefits_blok,.plane_img{
    margin-bottom: 5%;
}
.price_block_item_list ul li{
    font-size: 12px !important;
    &::before{
        margin-right: 5%;
    }
}

}

@media(width:568px)and (height:320px){
    body{
        padding-right: 5%;
    }
    .menu_wrapper{
        padding-top: 2%;
    }
    .menu_mobile{
        .nav_item{
            font-size: 18px !important;
            line-height: 50px !important;
        }
    }
.reserved_wrapper{
    margin-top: 50px !important;
}
    header{
        .menu_open{
            height: 40px;
            margin-bottom: -6%;
            .span_burger2{
                margin-top: 8%;
                margin-bottom: 8%;
            }
        }
    }
    .race_info_container{
        margin: 35px auto 0 !important;
    }


    .dropdown_list{
        flex-wrap: wrap;
        .dropdown_item{
            width: 50%;
            .dropdown_item_title{
                margin-right: 6%;
            }
        }
    }

    .change_icon {

        margin-bottom: 5%;
    }

    .date,.change_icon{
        margin-top: 5%;
    }
.benefits_blok,.plane_img{
    margin-bottom: 5%;
}
.price_block_item_list ul li{
    font-size: 15px !important;
    line-height: 30px !important;
    &::before{
        margin-right: 5%;
    }
}

}


// Iphone 4

@media(width:320px)and (height:480px){

    .menu_mobile{
        .nav_item{
            font-size: 20px !important;
            line-height: 40px !important;
        }
    }

    header{
        .menu_open{
            height: 40px;
            margin-bottom: -6%;
            .span_burger2{
                margin-top: 8%;
                margin-bottom: 8%;
            }
        }
    }
    .race_info_container{
        margin: 35px auto 0 !important;
    }


    .dropdown_list{
        flex-wrap: wrap;
        .dropdown_item{
            width: 50%;
            .dropdown_item_title{
                margin-right: 6%;
            }
        }
    }

    .change_icon {

        margin-bottom: 5%;
    }

    .date,.change_icon{
        margin-top: 5%;
    }
.benefits_blok,.plane_img{
    margin-bottom: 5%;
}
.price_block_item_list ul li{
    font-size: 12px !important;
    &::before{
        margin-right: 5%;
    }
}
.reserved_wrapper {
    margin-top: 80px !important;
}
}

@media(width:480px)and (height:320px){
    body{
        padding-right: 0;
    }
    .menu_wrapper{
        padding-top: 2%;
    }
    .menu_mobile{
        .nav_item{
            font-size: 18px !important;
            line-height: 50px !important;
        }
    }
.reserved_wrapper{
    margin-top: 50px !important;
}
    header{
        .menu_open{
            height: 40px;
            margin-bottom: -6%;
            .span_burger2{
                margin-top: 8%;
                margin-bottom: 8%;
            }
        }
    }
    .race_info_container{
        margin: 35px auto 0 !important;
    }


    .dropdown_list{
        flex-wrap: wrap;
        .dropdown_item{
            width: 50%;
            .dropdown_item_title{
                margin-right: 6%;
            }
        }
    }

    .change_icon {

        margin-bottom: 5%;
    }

    .date,.change_icon{
        margin-top: 5%;
    }
.benefits_blok,.plane_img{
    margin-bottom: 5%;
}
.price_block_item_list ul li{
    font-size: 15px !important;
    line-height: 30px !important;
    &::before{
        margin-right: 5%;
    }
}

}


// Iphone X

@media(width:375px)and (height:812px){
    .menu_wrapper {
        padding-top: 40% !important;
    }
    .menu_mobile{
        .nav_item{
            font-size: 25px !important;
            line-height: 50px !important;
        }
    }

    header{
        height: 50vh !important;
        .menu_open{
            height: 40px;
            margin-bottom: -6%;
            .span_burger2{
                margin-top: 8%;
                margin-bottom: 8%;
            }
        }
    }
    .race_info_container{
        margin: 35px auto 0 !important;
    }


    .dropdown_list{
        flex-wrap: wrap;
        .dropdown_item{
            width: 50%;
            .dropdown_item_title{
                margin-right: 6%;
            }
        }
    }

    .change_icon {

        margin-bottom: 5%;
    }

    .date,.change_icon{
        margin-top: 5%;
    }
.benefits_blok,.plane_img{
    margin-bottom: 5%;
}
.price_block_item_list ul li{
    font-size: 12px !important;
    &::before{
        margin-right: 5%;
    }
}
.reserved_wrapper {
    margin-top: 80px !important;
}
}

@media(width:812px)and (height:375px){
    body{
        padding-right: 0;
    }
    .menu_wrapper{
        padding-top: 2%;
    }
    .d-flex{
        .login_wrapper{
            width: 160% !important;
            .nav_item{
                width: 35% !important;
                margin: 10% auto 0 -11% !important;
            }
        }
    }
    .menu_mobile{
        .nav_item{
            font-size: 18px !important;
            line-height: 40px !important;
        }
    }
.reserved_wrapper{
    margin-top: 50px !important;
}
    header{
        .menu_open{
            height: 40px;
            margin-bottom: -6%;
            .span_burger2{
                margin-top: 8%;
                margin-bottom: 8%;
            }
        }
    }
    .race_info_container{
        margin: 35px auto 0 !important;
    }


    .dropdown_list{
        flex-wrap: wrap;
        .dropdown_item{
            width: 20%;
            .dropdown_item_title{
                margin-right: 6%;
            }
        }
    }
    .airplane_models_container{
        justify-content: space-around !important;
    }
    .date {
        width: 460px !important;
    padding-right: 0;
    padding-left: 45px;
    .date_item{
        width: 50% !important;
    }
    }
    .race_info_wrapper{

        .from_and_to{
            width: 100% !important;
            justify-content: center;
        }
    }
    .change_icon {
        margin-left: 1%;
        margin-right: 1%;
    }

    .date{
        margin-top: 5%;
    }
.benefits_blok,.plane_img{
    margin-bottom: 5%;
}
.price_block_item_list ul li{
    font-size: 15px !important;
    line-height: 30px !important;
    &::before{
        margin-right: 5%;
    }
}

}



// Ipad Pro


@media(width:1024px)and (height:1366px){
    .menu_wrapper {
        padding-top: 30% !important;
    }
    .menu_mobile{
        .nav_item{
            font-size: 65px !important;
            line-height: 90px !important;
        }
        .login_wrapper{
            .nav_item{
                font-size: 43px !important;
                width: 45% !important;
            }
        }
    }

    header{
        height: 50vh !important;
        .menu_open{
            height: 40px;
            margin-bottom: -6%;
            .span_burger2{
                margin-top: 14%;
                margin-bottom: 11%;
            }
        }
    }
    .race_info_container{
        margin: 35px auto 0 !important;
    }

    .dropdown_list{
        flex-wrap: wrap;
        .dropdown_item{
            width: 20%;
            .dropdown_item_title{
                margin-right: 6%;
            }
        }
    }
    .date {
        width: 460px !important;
    padding-right: 0;
    padding-left: 45px;
    .date_item{
        width: 50% !important;
    }
    }
    .race_info_wrapper{

        .from_and_to{
            width: 100% !important;
            justify-content: center;
        }
    }
    .change_icon {
        margin-left: 1%;
        margin-right: 1%;
    }

    .date{
        margin-top: 5%;
    }
.benefits_blok,.plane_img{
    margin-bottom: 5%;
}
.price_block_item_list ul li{
    font-size: 19px !important;
    line-height: 40px !important;
    &::before{
        margin-right: 5%;
    }
}
.reserved_wrapper {
    margin-top: 80px !important;
}
}

@media(width:1366px)and (height:1024px){
    body{
        padding-right: 0;
    }
    .menu_wrapper{
        padding-top: 2%;
    }
    .d-flex{
        .login_wrapper{
            width: 160% !important;
            .nav_item{
                width: 35% !important;
                margin: 10% auto 0 -11% !important;
            }
        }
    }
    .menu_mobile{
        .nav_item{
            font-size: 18px !important;
            line-height: 40px !important;
        }
    }
.reserved_wrapper{
    margin-top: 50px !important;
}
    header{
        height: 0 !important;
        min-height: 590px !important;
        .login_wrapper{
            width: 175px;
            .sign_in{
                margin-left: 6%;
            }
        }
        .nav_links_wrapper{
            width: 580px;

            .nav_item{
                font-size: 15px !important;
                margin-left: 2% !important; 
            }
        }
        .menu_open{
            height: 40px;
            margin-bottom: -6%;
            .span_burger2{
                margin-top: 8%;
                margin-bottom: 8%;
            }
        }
    }
    .race_info_container{
        margin: 35px auto 0 !important;
    }


    .dropdown_list{
        flex-wrap: wrap;
        padding-left: 5% ;
        .dropdown_item{
            width: 10%;
            .dropdown_item_title{
                margin-right: 6%;
            }
        }
    }
    .airplane_models_container{
        justify-content: space-around !important;
    }
    .date {
        width: 460px !important;
    padding-right: 0;
    padding-left: 45px;
    .date_item{
        width: 50% !important;
    }
    }
    .race_info_wrapper{

        .from_and_to{
            width: 100% !important;
            justify-content: center;
        }
    }
    .change_icon {
        margin-left: 1%;
        margin-right: 1%;
    }

    .date{
        margin-top: 5%;
    }
.benefits_blok,.plane_img{
    margin: 5%;
}
.price_block_item_list ul li{
    font-size: 17px !important;
    line-height: 30px !important;
    &::before{
        margin-right: 5%;
    }
}

}

// Ipad Mini




// IPad




// Generic Laptop



// Iphone 6/7/8



// Iphone 6/7/8 Plus



// Microsoft Lumia 950



// MacBook Air