@media (min-width: 1400px) {
  .header_conatiner {
    max-width: 1165px;
    margin: auto;
  }
  .nav_links_wrapper, .login_wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  header {
    min-height: 799px;
  }
  .race_info_container {
    width: 100%;
    margin: auto;
  }
  .menu_mobile {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .header_conatiner {
    max-width: 1165px;
    margin: auto;
  }
  .nav_links_wrapper, .login_wrapper {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
  }
  header {
    min-height: 799px;
  }
  .race_info_container {
    width: 100%;
    margin: auto;
  }
  .race_info_container .dropdown_punkts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .menu_mobile {
    display: none;
  }
  .airplane_review_wrapper {
    margin-top: 10% !important;
  }
  .airplane_review_block .airplane {
    margin-left: 5% !important;
  }
  .airplane_review_block .airplane_review_info {
    padding-right: 38px;
  }
  .airplane_review_block2 {
    margin-top: 10% !important;
  }
  .airplane_review_block2 .airplane {
    margin-right: 5% !important;
  }
  .airplane_review_block2 .airplane_review_info {
    padding-left: 38px;
  }
  .price_container {
    padding: 0 5%;
  }
  .price_container .price_block {
    width: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .dropdown_punkts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_conatiner {
    max-width: 950px;
    margin: auto;
  }
  .menu_wrapper {
    padding-top: 10%;
  }
  .airplane_review_wrapper {
    margin-top: 10% !important;
  }
  .airplane_review_block .airplane {
    margin-left: 5% !important;
    width: 500px;
  }
  .airplane_review_block .airplane_review_info {
    padding-right: 38px;
  }
  .airplane_review_block2 {
    margin-top: 10% !important;
  }
  .airplane_review_block2 .airplane {
    margin-right: 5% !important;
    width: 500px;
  }
  .airplane_review_block2 .airplane_review_info {
    padding-left: 38px;
  }
  .benefits_wrapper {
    padding: 0 2%;
  }
  .benefits_wrapper .benefits_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits_wrapper .plane_img {
    margin: auto;
  }
  .benefits_wrapper .benefits_blok_wrapper1 {
    width: 70%;
    margin: auto;
  }
  .airplane_models_container {
    padding: 0 5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .airplane_models_container .airplane_models_item4 {
    margin-top: 0;
  }
  .price_container {
    padding: 0 5%;
  }
  .price_container .price_block {
    width: 45%;
  }
  .price_container .price_block3 {
    margin: 5% auto 0;
  }
  .footer_info_container {
    padding: 50px 30px 15px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .dropdown_punkts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_conatiner {
    max-width: 90%;
    margin: auto;
  }
  .menu_wrapper {
    padding-top: 15%;
  }
  .h2_with_circle_bacrkgound {
    font-size: 30px !important;
  }
  .airplane_review_wrapper {
    margin-top: 15% !important;
  }
  .airplane_review_block .airplane {
    margin-left: 5% !important;
    width: 295px;
  }
  .airplane_review_block .airplane_review_info {
    padding-right: 38px;
  }
  .airplane_review_block2 {
    margin-top: 10% !important;
  }
  .airplane_review_block2 .airplane {
    margin-right: 5% !important;
    width: 295px;
  }
  .airplane_review_block2 .airplane_review_info {
    padding-left: 0 !important;
  }
  .benefits_wrapper {
    padding: 0 2%;
  }
  .benefits_wrapper .benefits_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits_wrapper .plane_img {
    margin: auto;
  }
  .benefits_wrapper .benefits_blok_wrapper1 {
    width: 70%;
    margin: auto;
  }
  .airplane_models_container {
    padding: 0px 10%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .airplane_models_container .airplane_models_item4, .airplane_models_container .airplane_models_item3 {
    margin-top: 0;
  }
  .price_container {
    padding: 0 5%;
  }
  .price_container .price_block {
    width: 45%;
  }
  .price_container .price_block3 {
    margin: 5% auto 0;
  }
  .footer_info_container {
    padding: 50px 45px 15px;
  }
  .big_img_airplane {
    width: 85% !important;
  }
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .dropdown_punkts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_conatiner {
    max-width: 90%;
    margin: auto;
  }
  .menu_wrapper {
    padding-top: 15%;
  }
  .from_and_to {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .from_to_width {
    width: 419px !important;
  }
  .book_flights {
    margin: -20px auto !important;
  }
  .h2_with_circle_bacrkgound {
    font-size: 22px !important;
  }
  .airplane_review_wrapper {
    margin-top: 20% !important;
  }
  .airplane_review_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .airplane_review_block .airplane {
    margin: 0 auto 10% !important;
    width: 85%;
  }
  .airplane_review_block .airplane_review_info {
    max-width: 100%;
    padding-right: 38px;
  }
  .airplane_review_block2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 10% !important;
  }
  .airplane_review_block2 .airplane {
    margin: 0 auto 10% !important;
    width: 85%;
  }
  .airplane_review_block2 .airplane_review_info {
    max-width: 100%;
    padding-left: 0 !important;
  }
  .benefits_wrapper {
    padding: 0 2%;
  }
  .benefits_wrapper .benefits_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits_wrapper .plane_img {
    margin: auto;
  }
  .benefits_wrapper .benefits_blok_wrapper1 {
    width: 70%;
    margin: auto;
  }
  .airplane_models_container {
    padding: 0px 20%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .airplane_models_container .airplane_models_item {
    margin-bottom: 30px;
  }
  .airplane_models_container .airplane_models_item4, .airplane_models_container .airplane_models_item3, .airplane_models_container .airplane_models_item2, .airplane_models_container .airplane_models_item1 {
    margin-top: 0;
  }
  .price_container {
    padding: 0 5%;
  }
  .price_container .price_block {
    width: 75%;
    margin: 0 auto;
  }
  .price_container .price_block2 {
    margin: 5% auto;
  }
  .price_container .price_block3 {
    margin: 0 auto;
  }
  .footer_info_container {
    padding: 50px 45px 15px;
  }
  .big_img_airplane {
    width: 85% !important;
  }
  .link_footer {
    font-size: 12px !important;
  }
  .footer_jc_beetween {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .footer_jc_beetween .footer_jc_beetween_block {
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 575.98px) {
  .dropdown_punkts {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_conatiner {
    max-width: 90%;
    margin: auto;
  }
  .menu_wrapper {
    padding-top: 20%;
  }
  .d-flex .login_wrapper {
    overflow: hidden;
    margin-top: 20%;
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .d-flex .login_wrapper .nav_item {
    width: 100% !important;
    margin: 0 auto 5% !important;
  }
  .from_and_to {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .from_to_width {
    width: 100% !important;
  }
  .book_flights {
    margin: 20px auto !important;
  }
  .date {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .dropdown_list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .reserved_title {
    font-size: 40px !important;
    line-height: 56px !important;
  }
  .h2_with_circle_bacrkgound {
    font-size: 22px !important;
    background: none !important;
    line-height: 30px !important;
  }
  .airplane_review_wrapper {
    margin-top: 38rem !important;
  }
  .airplane_review_block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .airplane_review_block .airplane {
    margin: 0 auto 10% !important;
    width: 85%;
  }
  .airplane_review_block .airplane_review_info {
    max-width: 100%;
    padding-right: 38px;
  }
  .airplane_review_title {
    margin-bottom: 3% !important;
    font-size: 23px !important;
  }
  .airplane_review_block2 {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 20% !important;
  }
  .airplane_review_block2 .airplane {
    margin: 0 auto 10% !important;
    width: 85%;
  }
  .airplane_review_block2 .airplane_review_info {
    max-width: 100%;
    padding-left: 0 !important;
  }
  .airplane_review_wrapper {
    margin-top: 20% !important;
  }
  .benefits_wrapper {
    padding: 0 2%;
  }
  .benefits_wrapper .h2_with_circle_bacrkgound {
    padding: 0 20px;
  }
  .benefits_wrapper .benefits_container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .benefits_wrapper .plane_img {
    margin: auto;
  }
  .benefits_wrapper .benefits_blok_wrapper1 {
    width: 95%;
    margin: auto;
  }
  .airplane_models_container {
    padding: 0px 20%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .airplane_models_container .airplane_models_item {
    margin-bottom: 30px;
  }
  .airplane_models_container .airplane_models_item4, .airplane_models_container .airplane_models_item3, .airplane_models_container .airplane_models_item2, .airplane_models_container .airplane_models_item1 {
    margin-top: 0;
  }
  .menu_mobile {
    display: none;
    position: relative;
  }
  .menu_mobile .burger {
    position: absolute;
    right: 6% !important;
    top: 0.6% !important;
  }
  .price_wrapper {
    margin-top: 15%;
  }
  .price_container {
    padding: 0 5%;
  }
  .price_container .price_block {
    width: 100%;
    margin: 0 auto;
  }
  .price_container .price_block2 {
    margin: 10% auto;
  }
  .price_container .price_block3 {
    margin: 0 auto;
  }
  .footer_info_container {
    padding: 50px 25px 15px;
  }
  .link_footer {
    font-size: 12px !important;
  }
  .footer_jc_beetween {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 20px;
  }
  .footer_jc_beetween .footer_jc_beetween_block {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .big_img_airplane {
    width: 85% !important;
  }
}
@media (max-width: 389px) and (max-width: 524.98px) {
  .airplane_review_wrapper .h2_with_circle_bacrkgound {
    font-size: 22px !important;
    padding: 0 20px;
  }
}
@media (max-width: 388.98px) {
  .airplane_review_wrapper .h2_with_circle_bacrkgound {
    font-size: 22px !important;
    padding: 0 20px;
  }
}
/*
@media(min-width:768px){
    .race_info_container2{
        display: none !important;
    }

}

@media(max-width:767.98px){
    .race_info_container{
        display: none !important;
    }
    header{
        height: 71vh !important;
    }
    .race_info_container2{
        display: block !important;
        z-index: 999999 !important;
    }
}
*/
body {
  position: relative;
  z-index: -10;
}

header {
  background: url(../img/intro_bg.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  height: 95vh;
  padding-top: 2.5%;
  z-index: -1212;
}
header .header_conatiner {
  position: relative;
}
header .header_conatiner nav {
  -webkit-box-align: center !important;
      -ms-flex-align: center !important;
          align-items: center !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
header .header_conatiner .nav_item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  text-transform: capitalize;
  color: #181818;
  text-decoration: none;
}
header .header_conatiner .nav_item:visited {
  color: #181818;
}
header .header_conatiner .sign_in {
  background: #656293;
  border-radius: 5px;
  padding: 5px 23px;
  color: #fff !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
header .header_conatiner .sign_in:hover {
  background: #57547e;
}
header .header_conatiner .reserved_wrapper {
  max-width: 587px;
  margin-top: 185px;
  margin-bottom: 230px;
  text-align: left;
}
header .header_conatiner .reserved_wrapper .reserved_title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 66px;
  line-height: 77px;
  text-transform: capitalize;
  color: #151515;
}
header .header_conatiner .reserved_wrapper .reserved_title span {
  color: #656293;
  font-weight: 700;
  text-transform: uppercase;
}
header .header_conatiner .reserved_wrapper .reserved_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
  gap: 11px;
}
header .header_conatiner .reserved_wrapper .reserved_link a {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
  text-decoration: none;
}
header .header_conatiner .reserved_wrapper .reserved_link a:visited {
  color: #151515;
}

.race_info_container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: 10% auto 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.race_info_container {
  width: 90%;
  margin: -150px auto 0;
}

.race_info_wrapper {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
          box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  padding: 34px 29px;
  width: 100%;
}
.race_info_wrapper .dropdown_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 19px;
}
.race_info_wrapper .dropdown_list .dropdown_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.race_info_wrapper .dropdown_list .dropdown_item .dropdown_item_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-transform: capitalize;
  color: #151515;
}
.race_info_wrapper .dropdown_punkts {
  margin-top: 24px;
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.race_info_wrapper .dropdown_punkts .from_and_to {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 6px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.race_info_wrapper .dropdown_punkts .punkt_item {
  border: 1px solid #AAAAAA;
  border-radius: 10px;
  padding: 16px 34px 16px 20px;
}
.race_info_wrapper .dropdown_punkts .punkt_item .punkt_item_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #151515;
  opacity: 0.6;
}
.race_info_wrapper .dropdown_punkts .punkt_item .punkt_item_subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height */
  text-transform: capitalize;
  color: #151515;
  margin-top: 4px;
  margin-bottom: 4px;
}
.race_info_wrapper .dropdown_bottom_link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  text-transform: capitalize;
  color: #151515;
}

.from_to_width {
  width: 308px;
}

.date {
  padding: 16px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 35px;
}
.date .date_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 25px;
}
.date .date_item .date_btns_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 44px;
}
.date .date_item .date_btns_wrapper .date_btn {
  text-transform: none;
  cursor: pointer;
}

.book_flights {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  background: #656293;
  border-radius: 10px;
  padding: 27px 30px 26px 30px;
  max-width: 236px;
  margin: -40px auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
.book_flights:hover {
  background: #57547e;
}
.book_flights .book_flights_item {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #FFFFFF;
  text-decoration: none;
}
.book_flights .book_flights_item:visited {
  color: #FFFFFF;
}

.overflow_hidden {
  overflow: hidden;
}

.hover_pointer * {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .burger {
    display: none !important;
  }
  .d-flex {
    display: none !important;
  }
}
@media (max-width: 1399.98px) {
  .airplane_review_item_bg {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .login_wrapper, .nav_links_wrapper {
    display: none;
  }
  .menu_mobile {
    display: none;
    position: relative;
  }
  .menu_mobile .burger {
    position: absolute;
    right: 6%;
    top: 1%;
  }
  .burger {
    z-index: 999 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
  .burger span {
    background: #fff;
    width: 35px;
    height: 5px;
  }
  .reserved_wrapper {
    margin-bottom: 70px !important;
  }
}
.hidden {
  display: none !important;
}

.transform_rotate {
  z-index: 999 !important;
}
.transform_rotate span {
  background-color: #fff !important;
  z-index: 999 !important;
}
.transform_rotate .span_burger1 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.transform_rotate .span_burger3 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin-top: -9px;
}

.burger {
  z-index: 999 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.burger span {
  background: #656293;
  width: 35px;
  height: 5px;
}

.d-flex {
  width: 100%;
  height: 100%;
  background: #57547e;
  position: absolute;
  z-index: 20;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.d-flex .menu_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 95vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.d-flex .login_wrapper, .d-flex .nav_links_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.d-flex .nav_links_wrapper .nav_item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 65px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
}
.d-flex .nav_links_wrapper .nav_item:visited {
  color: #fff;
}
.d-flex .login_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.d-flex .login_wrapper .nav_item {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  width: 50%;
  margin: 15% auto 0;
  font-size: 35px;
  line-height: 65px;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  text-decoration: none;
  background: #fff;
  border-radius: 5px;
  padding: 5px 23px;
  color: #000 !important;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.d-flex .login_wrapper .nav_item:visited {
  color: #fff;
}
.d-flex .login_wrapper .nav_item:hover {
  background: rgb(192, 192, 192);
}

.h2_with_circle_bacrkgound {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  background-image: url(../img/h2_background.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.airplane_review_wrapper {
  margin-top: 7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.airplane_review_wrapper .airplane_review_container h2 {
  margin-bottom: 65px;
}

.airplane_review_block2 {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 83px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.airplane_review_block2 .airplane_review_info {
  margin-right: 38px;
}

.airplane_review_block2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.airplane_review_block2 .airplane {
  margin-right: -200px;
}
.airplane_review_block2 .airplane img {
  width: 100%;
}

.airplane_review_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
.airplane_review_block .airplane {
  margin-left: -200px;
}
.airplane_review_block .airplane img {
  width: 100%;
}

.airplane_review_item_bg {
  z-index: -5;
}

.airplane_review_info {
  max-width: 463px;
  margin-left: 38px;
}

.airplane_review_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.airplane_review_subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  letter-spacing: 0.02em;
  color: rgba(21, 21, 21, 0.6);
}

.benefits_wrapper {
  max-width: 1110px;
  margin: auto;
  margin-bottom: 66px;
}

.benefits_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 36px;
  margin-top: 68px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.benefits_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.benefits_blok_wrapper1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.benefits_item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
          box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
  padding: 40px 52px 51px 52px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
}

.benefits_item_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  color: #151515;
}

.benefits_item_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(21, 21, 21, 0.6);
}

.airplane_models_container {
  margin-top: 40px;
  background-image: url(../img/Framedots_img.svg);
  background-position: right;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
}

.airplane_models_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  margin-top: 69px;
  margin-bottom: 66px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 10px 10px 14px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
          box-shadow: 0px 30px 84px rgba(19, 10, 46, 0.08), 0px 8px 32px rgba(19, 10, 46, 0.07), 0px 3px 14px rgba(19, 10, 46, 0.03), 0px 1px 3px rgba(19, 10, 46, 0.13);
  border-radius: 12px;
}

.airplane_models_item_text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #151515;
}

.price_wrapper {
  max-width: 1232px;
  margin: auto;
}
.price_wrapper h2 {
  margin-bottom: 105px;
}

.price_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 24px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.price_block {
  background: #F5F5F5;
  border-radius: 20px;
  padding: 24px;
  width: 384px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.price_block:hover {
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  background: #656293;
}
.price_block:hover .price_block_item_title, .price_block:hover .price_block_item_price {
  color: #fff;
}
.price_block:hover .price_block_item_list {
  border-bottom: 1px dashed #A9A9AA;
  padding-bottom: 18px;
}
.price_block:hover .price_block_item_list ul li {
  color: #fff;
}
.price_block:hover .price_block_item_list ul li::before {
  background-image: url(../img/list_style_white.svg);
}
.price_block:hover .price_block_item_btn {
  background: #fff;
  color: #000;
}

.price_block_item_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: #151515;
}

.price_block_item_subtitle {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  margin-top: 32px;
  margin-bottom: 24px;
  color: #A9A9AA;
}

.price_block_item_list {
  border-bottom: 1px dashed #A9A9AA;
  padding-bottom: 18px;
}
.price_block_item_list ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}
.price_block_item_list ul li {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #151515;
  list-style: none;
}
.price_block_item_list ul li::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  background-image: url(../img/list_style_black.svg);
}

.price_block_item_price {
  margin-top: 65px;
  margin-bottom: 24px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 40px;
  color: #161616;
}
.price_block_item_price span {
  font-weight: 700;
  font-size: 32px;
}

.price_block_item_btn {
  background: #656293;
  border-radius: 12px;
  cursor: pointer;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 40px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  border: none;
  text-align: center;
  color: #FFFFFF;
}

footer {
  margin-top: 18px;
}
footer .footer_container {
  max-width: 1110px;
  margin: auto;
}
footer .footer_container .big_img_airplane {
  width: 759px;
  margin: auto;
}
footer .footer_container .big_img_airplane img {
  width: 100%;
}
footer .footer_info_wrapper {
  background: #656293;
  width: 100%;
}
footer .footer_info_wrapper .footer_info_container {
  max-width: 1110px;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 15px;
}
footer .footer_info_wrapper .footer_info_container .footer_jc_beetween {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_info_wrapper .footer_info_container .footer_jc_beetween_block p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
footer .footer_info_wrapper .footer_info_container .footer_info_logo {
  margin: auto;
  display: table;
}
footer .footer_info_wrapper hr {
  background: rgba(255, 255, 255, 0.7);
  margin-top: 30px;
  margin-bottom: 17px;
}
footer .footer_jc_beetween_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
}
footer .footer_jc_beetween_block .link_footer {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  cursor: pointer;
}
footer .footer_jc_beetween_block .link_footer:visited, footer .footer_jc_beetween_block .link_footer:hover {
  color: rgba(255, 255, 255, 0.7);
}